
<div class="ap-popup">
		<div class="text-area">
			<img class="bg-heart" src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/DKsolidheartapology_2.png" />
			<div class="close"><i class="material-icons">close</i></div>
			{% comment %}<div class="ap-logos">
				<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/brokenheart_white.png">
			</div>{% endcomment %}
				<p>I am sorry for the comments I made last week. Those words do not represent who I am, <br>what I believe or what I have represented throughout my career.
				<br><br>
				For over 40 years, I have been a woman for women - presenting women in sensual ways through my advertising and runway shows. There is no question that women should wear what they want, when they want and without fear of being harassed, molested or abused. I am sorry for saying something I did not mean and I hope my track record proves who I am and that the words I mistakenly uttered last week do not represent my actual views.
				<br><br>
				As a woman, mother, grandmother, designer and philanthropist, I have always put women first. My mission in life is, and always has been, to dress and address women, empowering and enabling them to express their professionalism, passion and sensuality.
				<br><br>
				To the women who have shared their personal stories of sexual harassment and to those who have been abused and have not yet told their story, I stand by you... as your friend, your sister and your supporter. You are courageous. Beautiful. And I admire you.
				<br><br>
				What Harvey Weinstein did is unconscionable and unforgivable. I apologize for my comments that gave the impression that I feel any other way about any man who disrespects, harasses or abuses any woman.
				<br><br>
				Love,
				</p>
				<div class="sig">
					<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/DK_Signature_white.png">
			</div>
		</div>
</div>