<footer>
	<div class="social">
					<a href="https://instagram.com/urbanzen" class="icomoon-instagram"></a>
					<a href="https://facebook.com/urbanzen" class="icomoon-facebook"></a>
					<a href="https://pinterest.com/urbanzenpins" class="icomoon-pinterest"></a>
					<a href="https://twitter.com/urban_zen" class="icomoon-twitter"></a>
			</div>
	<div class="newsletter-callout"><span class="material-icons">mail_outline</span>Join Our Newsletter</div>
	<ul class="footer-menu">
		<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-534"><a href="http://urbanzen.com/past-collections/" title="Past Collections">Past Collections</a></li>
		<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-329"><a href="http://urbanzen.com/client-services/" title="Client Services">Client Services</a></li>
		<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="http://urbanzen.com/size-guide/" title="Size Guide">Size Guide</a></li>
		<li class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="http://urbanzen.com/legal/" title="Terms of Use &amp; Privacy Policy">Terms of Use &amp; Privacy Policy</a></li>
	</ul>
	
</footer>