<div class="homepage-fall">
	<section class="slideshow">
		<div class="slides">
			<div class="slide">
				<video autoplay loop>
				  <source src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/HP_1_Fall+Teaser_Short.mov" type="video/mp4">
				</video>
			</div>
			<div class="slide">
				<video autoplay loop poster="">
				  <source src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/HP_2_Furniture.mov" type="video/mp4">
				</video>
			</div>
			<div class="slide">
				<video autoplay loop poster="">
				  <source src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/HP_3_Artisan_Short.mov" type="video/mp4">
				</video>
			</div>
			<div class="slide">
				<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/HP_m_4_Donna.jpg" srcset="https://s3.us-east-2.amazonaws.com/fall-2017/Homepage/HP_4_Donna.jpg 768w">
			</div>	
		</div>
	</section>
</div>