/* Product Titles */
.productSortItem .meta .title{
	font-family: 'HelveticaNeueLTStd-Md';
	text-transform: uppercase;
	margin-bottom: 5px;
	letter-spacing: .0533em;
}
.description p{
	letter-spacing: .0333em;
	margin-right: 22px;
}
#carousel .slides.fall-18 li{
	display: block!important;
	margin-right: 0!important;
}
.swatch_name{
	display: inline-block!important;
}