.page-our-story{
	.drawer-nav{
		background: transparent;
		.tagline{
			display: none;
		}
	}
	.drawer-contents{
		//margin-left: 0!important;
	}
}
.our-story{
	.full-slideshow{
		.slick-arrow.arrow-left{
			@include respond-min($tablet-landscape)
			{
				//left: 200px;
			}
		}
		.slides{
			.slide{
				overflow: hidden;
			}
			.slide-info{
				max-width: 80%;
				a{
					display: inline-block;
					width: 100%;
					@include respond-min($tablet-portrait)
					{
						display: flex;
						align-items: center;
		    		justify-content: center;
		    	}
		    }
				p{
					position: absolute;
					bottom: 40px;
					color: $ivory;
					left: 0;
					width: 100%;
					@include respond-min($tablet-portrait)
					{
						font-size: 32px!important;
						position: static;
						margin-top: 40px;
					}
				}
			}
		}
	}
}