.shop-by-look{
	padding-top: 2em;
	text-align: center;
	position: relative;
	.shortcode{
		margin-top: 40px!important;
		.mabel-siwc-img-wrapper{
			width: auto;
		}
		span.mb-siwc-tag{
			text-align: center;
			line-height: 21px;
			color: white;
			background: rgba(0,0,0,.8);
			border: 1px solid white;
			opacity: .7;
			margin-left: -10px;
    	margin-top: -10px;
    	width: 20px;
    	height: 20px;
    	@include transition((opacity .3s ease-in-out));
    	&:hover{
    		opacity: 1;
    	}
		}
		.siwc-icon-plus_thin:before{
			position: relative;
			left: 1px;
		}
		div.mb-siwc-popup div.mb-siwc-popup-inner h1{
			font-size: 14px;
		}
		div.mb-siwc-popup div.mb-siwc-popup-inner h2{
			font-size: 12px;
			font-family: 'HelveticaNeueLTStd-Roman','Helvetica Neue Roman', Helvetica, Arial, sans-serif;
			letter-spacing: .05em;
		}
		div.mb-siwc-popup div.mb-siwc-popup-inner a{
			border-radius: 0;
		}
		.mabel-siwc-img-wrapper{

			&:before{
				display: none;
			}
		}
	}
	.sample-look,.sample-row{
		display: none;
	}
	h1{
		text-align: center;
		padding-bottom: .5em;
	}
	p{
		padding: 0 20px;
	}
	.shop-by-looks{
		padding: 2em 20px 20px;
		.look-row{
			@include respond-min(640)
			{
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				flex-wrap: nowrap;
				margin-bottom: .5%;
			}
			
		}
		.look{
			width: 100%;
			position: relative;
			overflow: hidden;
			margin-bottom: 20px;
			vertical-align: bottom;
			@include respond-min(640)
			{
				margin-bottom: 0;
				// width: calc(25% - 11.25px);
				flex-basis: 24.625%;
			}
			&:hover{
				.look-product-links{
					@include transform(translateY(0));
				}
			}
			&.callout{
				background: black;
				display: flex;
				align-items: center;
				justify-content: center;
				p{
					font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
					font-size: 30px;
					color: white;
					line-height: 1em;
					letter-spacing: 0;
				}
			}
			&.two_up{
				@include respond-min(640)
				{
					margin-bottom: 0;
					// width: calc(50% - 7.5px);
					flex-basis: 49.75%;
				}
				img{
					@include respond-max(640)
					{
						display: none;
						&.mobile-image{
							display: block;
						}
					}
				}
				.look-product-links{
					text-align: left;
					a{
						font-family: 'HelveticaNeueLTStd-Roman','Helvetica Neue Roman', Helvetica, Arial, sans-serif;
						display: block;
						vertical-align: top;
						outline: none;
						width: 100%;
						
						@include respond-min(640)
						{
							color: $ivory;
							display: inline-block;
							width: 49%;
							margin-right: -.25em;
						}
					}
				}
			}
			&.hide-mobile-look{
				@include respond-max(640)
				{
					display: none;
				}
			}
			img{
				@include transition((opacity .3s ease-in-out, visibility .3s ease-in-out));
				@include respond-min(640)
				{
					object-fit: cover;
					height: 100%;
					width: 100%;
					opacity: 0;
					max-height: none;
					max-width: none;
				}
				&.mobile-image{
						display: none;
						opacity: 0;
				}
			}
			.look-product-links{
				opacity: 0;
				padding: 10px 10px 10px;
				width: 100%;
				background:transparent;
				@include transition((opacity .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out, transform .3s ease-in-out));
				@include respond-min(640)
				{
					@include transform(translateY(100%));
					position: absolute;
					bottom: 0;
					background: rgba(27,27,27,.61);
				}
				a{
					display: block;
					cursor: pointer;
					color: black;
					text-align: left;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.04em;
					margin-bottom: 5px;
					font-family: 'HelveticaNeueLTStd-Lt';
					@include respond-min($tablet-portrait)
					{
						color: white;
						font-size: 13px;
					}
					&:hover{
						color: #bababa;
					}
				}
			}
			&.loaded{
				.look-product-links,img{
					opacity: 1;
				}

			}
		}
	}

}
	.sample-quick-shop{
		display: none;
	}
.quick-overlay{
	z-index: 999;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.7);
	opacity: 0;
	visibility: hidden;
	@include transition((opacity .3s ease-in-out, visibility .3s ease-in-out));
	&.open{
		opacity: 1;
		visibility: visible;
	}
	.quick-shop{
		position: relative;
		background: white;
		height: 500px;
		min-width: 700px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition((opacity .3s ease-in-out, visibility .3s ease-in-out));
		@include respond-max($tablet-portrait)
		{
			min-width: 0;
			display: block;
			height: auto;
			width: 100%;
		}
		.close{
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
		}
		.product-image{
			height: 100%;
			margin-right: 20px;
			max-width: 350px;
			@include respond-max($tablet-portrait)
			{
				max-width: 60%;
				margin: 0 auto;
				height: auto;
				margin-bottom: 20px;
			}
		}
		.quick-details{
			text-align: left;
			margin-right: 40px;
			width: calc(100% - 350px);
			@include respond-max($tablet-portrait)
			{	
				width: 100%;
				text-align: center;
			}
			h2 a{
				font-family: 'HelveticaNeueLTStd-LtEx', 'Helvetica Neue Light Extended', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-size: 30px;
		    line-height: 1em;
		    letter-spacing: 0;
		    text-transform: none;
		    text-decoration: none;
    		color: black;
		    @include respond-max($tablet-portrait)
				{	
				font-size: .8em;
				}
			}
			.quick-price{
				font-size: 13px;
    		line-height: 24px;
    		letter-spacing: .08333em;
    		display: inline-block;
    		margin-bottom: 30px;
    		@include respond-max($tablet-portrait)
				{	
					margin-bottom: 10px;
				}
			}
			.quick-colors{
				.color-label{
					font-size: 12px;
					span{
						font-size: 12px;
						min-width: 70px;
						display: inline-block;
						text-align: left;
						@include respond-max($tablet-portrait)
						{
							min-width: 0;		
						}
					}
					
				}
				img{
					border: 1px solid transparent;
					padding: 1px;
					display: inline-block;
					width: 34px;
					margin-right: 8px;
					cursor: pointer;
					&.selected{
						border: 1px solid black;
					}
				}
			}
			.quick-variant-label{
				font-size: 12px;
    		line-height: 24px;
    		letter-spacing: .08333em;
			}
			form{
				text-align: left;
				@include respond-max($tablet-portrait)
				{	
					margin-top: 10px;
					text-align: center;
				}
			}
			.product-variants{
				.product-variant{
					display: inline-block;
					&.hidden{
						display: none;
					}
					input{
						display: none;
					}
					input+label{
						width: 35px;
						height: 35px;
						border: 1px solid black;
						text-align: center;
						display: inline-block;
						vertical-align: middle;
						line-height: 35px;
						margin-right: 10px;
						margin-bottom: 10px;
						cursor: pointer;
						@include transition((color .3s ease-in-out));
					}
					input:checked+label, input+label:hover{
						background-color: black;
						color: white;
					}				
					&:last-child{
						label{
							margin-right: 0px;
						}
					}
				}
			}
			button{
				margin-top: 20px;
				height: 42px;
				width: 127px;
				font-family: 'HelveticaNeueLTStd-Md', Helvetica, Arial, sans-serif !important;
    		font-size: 11px;
    		text-transform: uppercase;
    		display: block;
    		letter-spacing: 1px;
    		background: transparent;
    		-webkit-appearance: none;
    		border: 1px solid black;
    		cursor: pointer;
    		outline: none;
    		border-radius: 0;
    		@include transition((color .3s ease-in-out, background .3s ease-in-out));
    		&:hover, &:active{
    			background: black;
    			color: white;
    		}
    		@include respond-max($tablet-portrait)
				{
					margin: 20px auto 0;
				}
			}
		}
		&.loaded{
			opacity: 1;
		}
		&.sample-quick-shop{
			display: none;
		}
	}
}