{% assign page_classes = 'black-bg' %}
<div class="our-story">
	<section class="full-slideshow">
		<div class="slides">
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>A LIFESTYLE BRAND</H3>
						<H2>URBAN ZEN</H2>
						<P></P>
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/About-Us_LifestyleBrand_D.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/About-Us_LifestyleBrand_M.jpg"/>
			</div>
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>OUR PHILOSOPHY</H3>
						<h2>PHILANTHROPY &amp; COMMERCE</h2>
						<p></p>
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Philanthropy-and-Commerce.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Philanthropy-and-Commerce_m.jpg"/>
			</div>			
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>OUR FOUNDER</H3>
						<H2>DONNA KARAN</H2>
						{% comment %}<P>Dressing &amp; addressing</P>{% endcomment %}
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Founder_1.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Founder_1_m.jpg"/>
			</div>
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>A CENTER FOR CHANGE</H3>
						<H2>URBAN ZEN CENTER</H2>
						{% comment %}<P>Raising awareness, inspiring change</P>{% endcomment %}
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Center_2.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Center_2_m.jpg"/>
			</div>
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>OUR INITIATIVE</H3>
						<H2>WELLNESS</H2>
						{% comment %}<P>Bringing care into healthcare</P>{% endcomment %}
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Wellness_3.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Wellness_3_m.jpg"/>
			</div>
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
					<H3>OUR INITIATIVE</H3>
					<H2>EDUCATION</H2>
					{% comment %}<P>Empowering mind, body &amp; spirit</P>{% endcomment %}				
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Education_4.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Education_4_m.jpg"/>
			</div>
			<div class="slide">
				<div class="slide-cover">
					<div class="slide-info">
						<H3>OUR INITIATIVE</H3>
						<H2>PRESERVATION OF CULTURE</H2>
						{% comment %}<P>Promoting artisanship</P>{% endcomment %}
					</div>
				</div>
				<img class="mobile_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Culture_5.jpg">
				<img class="desktop_hidden" src="https://s3.us-east-2.amazonaws.com/fall-2017/Our+Story/Our+Story_09_13_17/Culture_5_m.jpg"/>
			</div>
		</div>
	</section>
</div>