{% assign page_classes = 'black-bg' %}
<div class="fall17-event">
	<div class="cover-area">
		<iframe class="hpvideo mobile_hidden" src="https://player.vimeo.com/video/233347971?background=1&autoplay=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<div class="mobile-video desktop_hidden">
			<div class="video-item" data-video-id="233347971">
				<img class="lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/header_image_m.jpg">
				<div class="play-icon">
					<i class="material-icons">play_arrow</i>
				</div>
			</div>
			<div class="video-overlay">
				<i class="close material-icons">close</i>
				<div class="video-holder">
					<div class="video-responsive">
						<div id="video"></div>
					</div>
				</div>
			</div>
		</div>
		
		<h1>Fall 17 Show</h1>
		<div class="down-arrow" data-target="#unveil"></div>
	</div>
	<div class="unveiling" id="unveil"></div>
	
	<div class="unveil-heading">
		<h2>Unveiling The Orient Express Collection</h2>		
		<p>Calm in the chaos of #NYFW with our in-season show at Urban Zen Center.</p>
	</div>

	<div class="signature-looks">
		<div class="signature-looks-slideshow">
			<div class="signature-look-slides">
				{% for i in (1..11) %}
					<div class="img-wrap">
						<img class="lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/	Show_Orient+Express+Fall+17/Looks_Slider_{{ i }}.jpg">
						<div class="look-title">Look {{ i }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="unveil-images">
		<div class="flex-row">
			<div class="half">
				<div class="img-wrap">
					<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Unveiling_01.jpg" alt="">
					<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Unveiling_01_m.jpg" alt="">
				</div>
			</div>
			<div class="half">
				<div class="img-wrap">
					<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Unveiling_02.jpg" alt="">
					<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Unveiling_02_m.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
		
	<div class="lifestyle">
		<h2>A Complete Lifestyle Experience for the Modern Soul</h2>
		<div class="lifestyle-images">
			<div class="flex-row">
				<div class="half">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_1.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_1_m.jpg">
					</div>
				</div>
				<div class="half">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_2.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_2_m.jpg">

					</div>
				</div>
			</div>
			<div class="flex-row">
				<div class="quarter">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_3.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_3_m.jpg">
					</div>
				</div>
				<div class="quarter">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_4.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_4_m.jpg">

					</div>
				</div>
				<div class="half">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_5.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_5_m.jpg">
					</div>
				</div>
			</div>
			<div class="flex-row">
				<div class="half">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_6.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_6_m.jpg">
					</div>
				</div>
				<div class="quarter">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_7.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_7_m.jpg">
					</div>
				</div>
				<div class="quarter">
					<div class="img-wrap">
						<img class="mobile_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_8.jpg">
						<img class="desktop_hidden lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/Store_8_m.jpg">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="behind-the-scenes">
		<h2>Behind-the-Scenes</h2>
		<div class="behind-the-scenes-slideshow">
			<div class="behind-the-scenes-slides">
				{% for i in (1..8) %}
					<img class="lazyload" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Show_Orient+Express+Fall+17/BTS_Slider_{{ i }}.jpg" alt="">
				{% endfor %}
			</div>
		</div>

		<h2>From Runway to Store</h2>
		<a class="purchase cta-button light" href="/pages/orient-express-collection">shop by look</a>
	</div>

</div>