{% assign page_classes = 'black-bg' %}
<div class="video-styles">
		<h1>A WOMAN'S WARDROBE</h1>
		<h2>Donna Karan dresses the body and addresses the soul</h2>
		{% comment %}<p>Click Here to shop the lookse video</p>{% endcomment %}
		<div class="video-style-modules">
			<div class="video-style-module" data-video-id="234066926" id="donnas-seven-easy-peices">
				<div class="video-slideshow-wrapper">
					<div class="video-area hide-mobile">
						<div class="module-video"></div>
						{% comment %}<div id="video-controls" class="controls" data-state="hidden">
					   <button id="playpause" type="button" data-state="play">Play/Pause</button>
					   <button id="stop" type="button" data-state="stop">Stop</button>
					   <div class="progress">
					      <progress id="progress" value="0" min="0">
					         <span id="progress-bar"></span>
					      </progress>
					   </div>
					   <input type="range" />
					   <button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
						</div>{% endcomment %}
					</div>			
					<div class="style-area">
						<div class="style-items">
							<div class="style-item" data-style-number="F17J007CSO" data-timestamp="18">
								<a data-product-link data-handle="edwardian-jacket" data-color="Black Sculpturalottoman" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_01.jpg">
									<h3>Edwardian Jacket</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17T126CSM" data-timestamp="31">
								<a data-product-link data-handle="scarf-wrap-tunic" data-color="Ivory Mattesatin" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_02.jpg">
									<h3>Scarf Wrap Blouse</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17LP302GLW" data-timestamp="36">
								<a data-product-link data-handle="jodhpur-1" data-color="Black Waxedsuede" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_03.jpg">
									<h3>Waxed Suede Jodphur</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17C061CSO" data-timestamp="41">
								<a data-product-link data-handle="kimono-1" data-color="Black Sculpturalottoman" data-size="S/M">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_04.jpg">
									<h3>Sculptural Ottoman Kimono</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17C065GRT" data-timestamp="48">
								<a data-product-link data-handle="kimono-shell" data-color="Black Raintefeta" data-size="S/M">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_05.jpg">
									<h3>Kimono Shell</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17JP290DVV" data-timestamp="57">
								<a data-product-link data-handle="wrap-and-tie-jumpsuit-orient" data-color="Black Signaturejersey" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_06.jpg">
									<h3>Wrap And Tie Jumpsuit</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17BG402KCS" data-timestamp="65">
								<a data-product-link data-handle="belt-bag-bg402" data-color="Black Collagedshearling" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/styling_video_01_carousel_img_07.jpg">
									<h3>Collaged Shearling Belt Bag</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mobile-video hide-desktop">
					<div class="video-item" data-video-id="234066926">
						<div class="img-wrap square">
							<img class="lazyload" src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Styling_Video_01_Main_m.jpg"/>
						</div>
						<div class="play-icon">
							<i class="material-icons">play_arrow</i>
						</div>
					</div>
				</div>
				<div class="video-footer">
					<div class="video-titles">
						<h2>Donna's Seven Easy Pieces</h2>
						<p class="video-description">Must-have pieces for the journey ahead</p>
					</div>
					<div class="shop-callout"><span>Click Here to Shop the Looks</span><i class="material-icons"></i>	</div>
				</div>
				
				<div class="shop-this-video look">
					<div class="video-look look-product-links">
						<a data-handle="edwardian-jacket" data-color="Black Sculpturalottoman" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Edwardian+Jacket.jpg"/>
							<h3>Edwardian Jacket</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="scarf-wrap-tunic" data-color="Ivory Mattesatin" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Scarf+Wrap+Blouse.jpg"/>
							<h3>Scarf Wrap Blouse</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="jodhpur-1" data-color="Black Waxedsuede" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Waxed+Suede+Jodphur.jpg"/>
							<h3>Waxed Suede Jodphur</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="kimono-1" data-color="Black Sculpturalottoman" data-size="S/M">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Sculptural+Ottoman+Kimono.jpg"/>
							<h3>Sculptural Ottoman Kimono</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="kimono-shell" data-color="Black Raintefeta" data-size="S/M">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Kimono+Shell.jpg"/>
							<h3>Kimono Shell</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="wrap-and-tie-jumpsuit-orient" data-color="Black Signaturejersey" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Wrap+and+Tie+Jumpsuit_Black.jpg"/>
							<h3>Wrap And Tie Jumpsuit</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-handle="belt-bag-bg402" data-color="Black Collagedshearling" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/7+Easy+Pieces/Shearling+Belt+Bag.jpg"/>
							<h3>Collaged Shearling Belt Bag</h3>
						</a>
					</div>
				</div>
			</div>

			<div class="video-style-module" data-video-id="234677209" id="new-wardrobe-hero">
				<div class="video-slideshow-wrapper">
					<div class="video-area hide-mobile">
						<div class="module-video"></div>
					</div>			
					<div class="style-area">
						<div class="style-items">
							<div class="style-item" data-style-number="F17LC091GLP-2" data-timestamp="10">
								<a data-product-link data-handle="two-piece-convertible-barrel-coat" data-color="Black Wildpileshearling" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_02.jpg">
									<h3>Convertible Two Piece Wild Pile Shearling Coat</h3>
								</a>
							</div>
						
							<div class="style-item" data-style-number="F17LJ034GLC" data-timestamp="28">
								<a data-product-link data-handle="bomber-jacket" data-color="Black Wildcurlylamb" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_03.jpg">
									<h3>Wild Curly Lamb Bomber Jacket</h3>
								</a>
							</div>

							<div class="style-item" data-style-number="F17LV309GLC" data-timestamp="30">
								<a data-product-link data-handle="hooded-long-vest" data-color="Black Wildcurlylamb" data-size="S/M">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_04.jpg">
									<h3>Wild Curly Lamb Hooded Long Vest</h3>
								</a>
							</div>
						
							<div class="style-item" data-style-number="F17LV311GLC" data-timestamp="32">
								<a data-product-link data-handle="long-hooded-vest" data-color="Black Multi Carpetshearling" data-size="S/M">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_05.jpg">
									<h3>Carpet Shearling Long Hooded Vest</h3>
								</a>
							</div>
						
							<div class="style-item" data-style-number="F17LC092GLC" data-timestamp="34">
								<a data-product-link data-handle="kimono-2" data-color="Black Carpetshearling" data-size="S/M">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_06.jpg">
									<h3>Carpet Shearling</h3>
								</a>
							</div>

							<div class="style-item" data-style-number="F17LC088GLW" data-timestamp="38">
								<a data-product-link data-handle="relaxed-scarf-coat" data-color="Cognac Waxedsuede" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_07.jpg">
									<h3>Waxed Suede Relaxed Scarf Coat</h3>
								</a>
							</div>

							<div class="style-item" data-style-number="FL17LJ036GLO" data-timestamp="62">
								<a data-product-link data-handle="convertible-cross-over-jacket" data-color="Black Oiledlambskin" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_carousel_img_08.jpg">
									<h3>Convertible Cross Over Jacket</h3>
								</a>
							</div>
						</div>
						
						</div>
				</div>

				<div class="mobile-video hide-desktop">
					<div class="video-item" data-video-id="234677209">
						<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/styling_video_02_Main_m.jpg"/>
						<div class="play-icon">
							<i class="material-icons">play_arrow</i>
						</div>
					</div>
				</div>
				<div class="video-footer">
					<div class="video-titles">
						<h2>New Wardrobe Hero</h2>
						<p class="video-description">Donna updates your look with our easy-to-layer coats</p>
					</div>
					<div class="shop-callout"><span>Click Here to Shop the Looks</span><i class="material-icons"></i>	</div>
				</div>
				
				<div class="shop-this-video look">

						<div class="video-look look-product-links">
							<a data-product-link data-handle="two-piece-convertible-barrel-coat" data-color="Black Wildpileshearling" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Convertible_Two_Piece_Black_LC091.jpg">
								<h3>Convertible Two Piece Wild Pile Shearling Coat</h3>
							</a>
						</div>

						<div class="video-look look-product-links">
							<a data-product-link data-handle="bomber-jacket" data-color="Black Wildcurlylamb" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Bomber_Jacket_Black_LJ034.jpg">
								<h3>Wild Curly Lamb Bomber Jacket</h3>
							</a>
						</div>
						
						<div class="video-look look-product-links">
							<a data-product-link data-handle="hooded-long-vest" data-color="Black Wildcurlylamb" data-size="S/M">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Hooded_long_vest_black_LV309.jpg">
								<h3>Wild Curly Lamb Hooded Long Vest</h3>
							</a>
						</div>

						<div class="video-look look-product-links">
							<a data-product-link data-handle="long-hooded-vest" data-color="Black Multi Carpetshearling" data-size="S/M">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Long_hooded_vest_LV311.jpg">
								<h3>Carpet Shearling Long Hooded Vest</h3>
							</a>
						</div>

						<div class="video-look look-product-links">
							<a data-product-link data-handle="kimono-2" data-color="Black Carpetshearling" data-size="S/M">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Kimono_black_LC092.jpg">
								<h3>Carpet Shearling</h3>
							</a>
						</div>
						
						<div class="video-look look-product-links">
							<a data-product-link data-handle="relaxed-scarf-coat" data-color="Cognac Waxedsuede" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Relaxed_scarf_coat_cognac_LC088.jpg">
								<h3>Waxed Suede Relaxed Scarf Coat</h3>
							</a>
						</div>
						<div class="video-look look-product-links">
							<a data-product-link data-handle="convertible-cross-over-jacket" data-color="Black Oiledlambskin" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Coats+and+Jackets/Grid_Convertible_cross_over_jacket_black_LJ036.jpg">
								<h3>Convertible Cross Over Jacket</h3>
							</a>
						</div>
				</div>
			</div>
				
			<div class="video-style-module" data-video-id="234678713" id="color-accents">

				<div class="video-slideshow-wrapper">
					<div class="video-area hide-mobile">
						<div class="module-video"></div>
					</div>			
					<div class="style-area">
						<div class="style-items">
							<div class="style-item" data-style-number="F17D229TUS" data-timestamp="20">
								<a data-product-link data-handle="convertible-cold-shoulder-dress" data-color="Cognac Urbanstretch" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/carousel_img01_D229TUS_Cognac.jpg">
									<h3>Convertible Cold Shoulder Dress</h3>
								</a>
							</div>

							<div class="style-item" data-style-number="F17C062LET" data-timestamp="38">
								<a data-product-link data-handle="robe-coat-2" data-color="Cognac Erodedtapestry" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/carousel_img02_C062.jpg">
									<h3>Eroded Tapestry Robe Coat</h3>
								</a>
							</div>
							
							<div class="style-item" data-style-number="F17A420GLP" data-timestamp="51">
								<a data-product-link data-handle="reversible-cape" data-color="Cognac Wildcurlylamb" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/carousel_img03_A420+Cognac+-+Reversible+Cape.jpg">
									<h3>Reversible Cape</h3>
								</a>
							</div>

							<div class="style-item" data-style-number="F17LV309GLC" data-timestamp="59">
								<a data-product-link data-handle="hooded-long-vest" data-color="Cognac Wildcurlylamb" data-size="P/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/carousel_img04_LV309_Cognac.jpg">
									<h3>Wild Curly Lamb Hooded Long Vest</h3>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="mobile-video hide-desktop">
					<div class="video-item" data-video-id="234678713">
						<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/styling_video_04_Main_m.jpg"/>
						<div class="play-icon">
							<i class="material-icons">play_arrow</i>
						</div>
					</div>
				</div>
				<div class="video-footer">
					<div class="video-titles">
						<h2>Color Accents</h2>
						<p class="video-description">Cognac is the perfect neutral</p>
					</div>
					<div class="shop-callout"><span>Click Here to Shop the Looks</span><i class="material-icons"></i>	</div>
				</div>
				
				<div class="shop-this-video look">
						<div class="video-look look-product-links">
							<a data-product-link data-handle="convertible-cold-shoulder-dress" data-color="Cognac Urbanstretch" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/Convertible Cold Shoulder Dress.jpg">
								<h3>Convertible Cold Shoulder Dress</h3>
							</a>
						</div>

						<div class="video-look look-product-links">
							<a data-product-link data-handle="robe-coat-2" data-color="Cognac Erodedtapestry" data-size="XS">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/Eroded+Tapestry+Robe+Coat.jpg">
								<h3>Eroded Tapestry Robe Coat</h3>
							</a>
						</div>
						
						<div class="video-look look-product-links">
							<a data-product-link data-handle="reversible-cape" data-color="Cognac Wildcurlylamb" data-size="O/S">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/Reversible+Cape.jpg">
								<h3>Reversible Cape</h3>
							</a>
						</div>

						<div class="video-look look-product-links">
							<a data-product-link data-handle="hooded-long-vest" data-color="Cognac Wildcurlylamb" data-size="P/S">
								<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Cognac/Wild+Curly+Lamb+Hooded+Long+Vest.jpg">
								<h3>Wild Curly Lamb Hooded Long Vest</h3>
							</a>
						</div>

				</div>
			</div>
			<div class="video-style-module" data-video-id="234679283" id="evening-dressing">

				<div class="video-slideshow-wrapper">
					<div class="video-area hide-mobile">
						<div class="module-video"></div>
					</div>			
					<div class="style-area">
						<div class="style-items">
							<div class="style-item" data-style-number="F17D231TUS" data-timestamp="6">
								<a data-product-link data-handle="draped-cocoon-dress" data-color="Black Urbanstretch" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img01_D231TUS_Black.jpg">
									<h3>Draped Cocoon Dress</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17TE139TBT" data-timestamp="8">
								<a data-product-link data-handle="embroidered-kaftan-tunic" data-color="Black Cognac Tibetantiger" data-size="P/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img02_TE139TBT_Black+Cognac.jpg">
									<h3>Embroidered Kaftan Tunic</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17TE140IMP" data-timestamp="9">
								<a data-product-link data-handle="embroidered-kaftan" data-color="Black Garnet Imperialembroidery" data-size="P/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img03_TE140IMP_Black+Garnet.jpg">
									<h3>Embroidered Kaftan</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17D189GVD" data-timestamp="11">
								<a data-product-link data-handle="collaged-cocoon-dress" data-color="Black Cognac Velvetdevore" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img04_D189GVD_Black+Cognac+-+Collaged+Cocoon+Dress.jpg">
									<h3>Collaged Cocoon Dress</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17D185CCH" data-timestamp="12">
								<a data-product-link data-handle="shawl-cocoon-dress" data-color="Black Chiffon" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img05_D185CCH_Black_Shawl+Cocoon+Dress.jpg">
									<h3>Shawl Cocoon Dress</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17C062GVD" data-timestamp="17">
								<a data-product-link data-handle="robe-coat" data-color="Black Garnet Velvetdevore" data-size="XS">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/carousel_img06_06_1014_lores.jpg">
									<h3>Robe Coat</h3>
								</a>
							</div>

						</div>
					</div>
				</div>

				<div class="mobile-video hide-desktop">
					<div class="video-item" data-video-id="234679283">
						<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/styling_video_05_Main_m.jpg"/>
						<div class="play-icon">
							<i class="material-icons">play_arrow</i>
						</div>
					</div>
				</div>
				<div class="video-footer">
					<div class="video-titles">
						<h2>Evening Dressing</h2>
						<p class="video-description">Express the individual in you</p>
					</div>
					<div class="shop-callout"><span>Click Here to Shop the Looks</span><i class="material-icons"></i>	</div>
				</div>
				
				<div class="shop-this-video look">
				
					<div class="video-look look-product-links">
						<a data-product-link data-handle="draped-cocoon-dress" data-color="Black Urbanstretch" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img01_D231TUS_Black.jpg">
							<h3>Draped Cocoon Dress</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="embroidered-kaftan-tunic" data-color="Black Cognac Tibetantiger" data-size="P/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img02_TE139TBT_Black+Cognac.jpg">
							<h3>Embroidered Kaftan Tunic</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="embroidered-kaftan" data-color="Black Garnet Imperialembroidery" data-size="P/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img03_TE140IMP_Black+Garnet.jpg">
							<h3>Embroidered Kaftan</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="collaged-cocoon-dress" data-color="Black Cognac Velvetdevore" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img04_D189GVD_Black+Cognac+-+Collaged+Cocoon+Dress.jpg">
							<h3>Collaged Cocoon Dress</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="shawl-cocoon-dress" data-color="Black Chiffon" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img05_D185CCH_Black_Shawl+Cocoon+Dress.jpg">
							<h3>Shawl Cocoon Dress</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="robe-coat" data-color="Black Garnet Velvetdevore" data-size="XS">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Evening/grid_img06_06_1014_lores.jpg">
							<h3>Robe Coat</h3>
						</a>
					</div>	

				</div>
			</div>

			<div class="video-style-module" data-video-id="234677630" id="perfect-finish">

				<div class="video-slideshow-wrapper">
					<div class="video-area hide-mobile">
						<div class="module-video"></div>
					</div>			
					<div class="style-area">
						<div class="style-items">
							<div class="style-item" data-style-number="F17BG402KCS" data-timestamp="7">
								<a data-product-link data-handle="belt-bag-bg402" data-color="Black Collagedshearling" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img01_BG402+-+Belt+Bag.jpg">
									<h3>Collaged Shearling Belt Bag</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17BG408GLW" data-timestamp="8">
								<a data-product-link data-handle="belt-bag-2" data-color="Black Beltbags" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img02_BG408+-+Belt+Bag.jpg">
									<h3>Belt Bag</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17AE376FEA" data-timestamp="9">
								<a data-product-link data-handle="scarf-poncho" data-color="Black Featherembroidery" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img03_AE376+-+Scarf.jpg">
									<h3>Chiffon Feather Wrap</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17A422GLW" data-timestamp="11">
								<a data-product-link data-handle="collar" data-color="Black Bondedsuede" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img04_A422+-+Collar.jpg">
									<h3>Collar</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17A420GLP" data-timestamp="13">
								<a data-product-link data-handle="reversible-cape" data-color="Black Wildcurlylamb" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img05_A420+Black+-+Reversible+Cape.jpg">
									<h3>Reversible Cape</h3>
								</a>
							</div>
							<div class="style-item" data-style-number="F17A419GLW" data-timestamp="15">
								<a data-product-link data-handle="scarf" data-color="Garnet Waxedsuede" data-size="O/S">
									<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/carousel_img06_A419+Garnet+-+Scarf.jpg">
									<h3>Waxed Suede Scarf</h3>
								</a>
							</div>

						</div>
					</div>
				</div>

				<div class="mobile-video hide-desktop">
					<div class="video-item" data-video-id="234677630">
						<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/styling_video_06_Main_m.jpg"/>
						<div class="play-icon">
							<i class="material-icons">play_arrow</i>
						</div>
					</div>
				</div>
				<div class="video-footer">
					<div class="video-titles">
						<h2>Perfect Finish</h2>
						<p class="video-description">Luxury lies in the accents</p>
					</div>
					<div class="shop-callout"><span>Click Here to Shop the Looks</span><i class="material-icons"></i>	</div>
				</div>
				
				<div class="shop-this-video look">
					<div class="video-look look-product-links">
						<a data-product-link data-handle="belt-bag-bg402" data-color="Black Collagedshearling" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img01__BG402+-+Belt+Bag.jpg">
							<h3>Collaged Shearling Belt Bag</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="belt-bag-2" data-color="Black Beltbags" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img02_BG408+-+Belt+Bag.jpg">
							<h3>Belt Bag</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="scarf-poncho" data-color="Black Featherembroidery" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img03_AE376+-+Scarf.jpg">
							<h3>Chiffon Feather Wrap</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="collar" data-color="Black Bondedsuede" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img04_A422+-+Collar.jpg">
							<h3>Collar</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="reversible-cape" data-color="Black Wildcurlylamb" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img05_A420+Black+-+Reversible+Cape.jpg">
							<h3>Reversible Cape</h3>
						</a>
					</div>
					<div class="video-look look-product-links">
						<a data-product-link data-handle="scarf" data-color="Garnet Waxedsuede" data-size="O/S">
							<img src="https://s3.us-east-2.amazonaws.com/fall-2017/Video+Style+Series/Accents/grid_img06_A419+Garnet+-+Scarf.jpg">
							<h3>Waxed Suede Scarf</h3>
						</a>
					</div>
				</div>
			</div>
			
		</div>

<div class="quick-shop sample-quick-shop">
			<div class="close" data-close=""><i class="material-icons">close</i></div>
			<img class="product-image" data-quick-image="" src="">
			<div class="quick-details">
				<h2 data-quick-title=""><a href=""></a></h2>
				<span data-quick-price="" class="quick-price"></span>
				<div class="quick-colors" data-colors>
					<div class="color-label">Color: <span data-color-label></span></div>
				</div>	
				<form>
					<input name="productId" type="hidden" value="" data-product-id="">	
					<span class="quick-variant-label">Size</span>
					<div class="product-variants" data-product-variants="">
					</div>
					<button type="submit" value="Add to cart">Add to Bag</button>
				</form>
			</div>
		</div>
	<div class="video-overlay">
		<i class="close material-icons">close</i>
		<div class="video-holder">
			<div class="video-responsive">
				<div id="video"></div>
			</div>
		</div>
	</div>
</div>