<div class="shop-by-look">
	<h1>{{ page.title }}</h1>
	<p>click caption to shop<br>
	</p>
<div class="shop-by-looks" data-shop-by-looks="">
		<div class="look-row sample-row">
		</div>
		<div class="look sample-look loaded">
			<img src="">
			<div class="look-product-links" data-product-links=""></div>
		</div>
		<div class="quick-shop sample-quick-shop">
			<div class="close" data-close=""><i class="material-icons">close</i></div>
			<img class="product-image" data-quick-image="" src="">
			<div class="quick-details">
				<h2 data-quick-title=""><a href=""></a></h2>
				<span data-quick-price="" class="quick-price"></span>
				<div class="quick-colors" data-colors="">
					<div class="color-label">Color: <span data-color-label=""></span></div>
				</div>	
				<form>
					<input name="productId" type="hidden" value="" data-product-id="">	
					<span class="quick-variant-label">Size</span>
					<div class="product-variants" data-product-variants="">
					</div>
					<button type="submit" value="Add to cart">Add to Bag</button>
				</form>
			</div>
		</div>

					<div class="look-row">
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06173557/C121LKS_T212MSP_T201LLC_P383LSV_042.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06161811/Untitled-2.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="stripe-kimono-coat" data-color="Black Tobacco LKS" data-size="XS">Stripe Kimono Coat</a>
																	<a data-handle="block-printed-devore-wrap-blouse" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Wrap Blouse</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
																	<a data-handle="tuarag-jewels-single-square-pendant" data-color="Tobacco TAJ3" data-size="O/S">Tuarag Jewels Single Square Pendant</a>
															</div>
											</div>
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15150812/C121MSP_T212MSP_T201LLC_P383LSV_0021.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="block-printed-devore-kimono-coat" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Kimono Coat</a>
																	<a data-handle="block-printed-devore-wrap-blouse" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Wrap Blouse</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
															</div>
											</div>
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15150153/C121MSP_P371MSP_D264CSM_001.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="block-printed-devore-kimono-coat" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Kimono Coat</a>
																	<a data-handle="block-printed-devore-floating-squares-dress" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Floating Squares Dress</a>
																	<a data-handle="brass-beaded-jewels-conch-belt" data-color="Black TAJ" data-size="O/S">Brass Beaded Jewels Conch Belt</a>
															</div>
											</div>
							</div>
					<div class="look-row">
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15151130/J074INL_D264MSP_P371MSP_066_ext.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="lost-treasures-reversible-topper" data-color="Black Multi INL" data-size="P/S">Lost Treasures Reversible Topper</a>
																	<a data-handle="block-printed-devore-floating-squares-dress" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Floating Squares Dress</a>
																	<a data-handle="tuarag-jewels-tri-pendant" data-color="Tobacco TAJ" data-size="O/S">Tuarag Jewels Tri Pendant</a>
																	<a data-handle="brass-beaded-jewels-conch-belt" data-color="Black TAJ" data-size="O/S">Brass Beaded Jewels Conch Belt</a>
															</div>
											</div>
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15151359/J074INL_D264MSP_P371MSP_040.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="lost-treasures-reversible-topper" data-color="Black Multi INL" data-size="P/S">Lost Treasures Reversible Topper (Shown inside out)</a>
																	<a data-handle="block-printed-devore-floating-squares-dress" data-color="Black Mocha MSP" data-size="XS">Block Printed Devore Floating Squares Dress</a>
																	<a data-handle="tuarag-jewels-tri-pendant" data-color="Tobacco TAJ" data-size="O/S">Tuarag Jewels Tri Pendant</a>
																	<a data-handle="brass-beaded-jewels-conch-belt" data-color="Black TAJ" data-size="O/S">Brass Beaded Jewels Conch Belt</a>
															</div>
											</div>
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06164542/C122ICL_009.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/20141909/C122ICL_009-horizontal.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="sahara-crinkle-reversible-duster" data-color="Driftwood ICL" data-size="XS">Sahara Crinkle Reversible Duster</a>
															</div>
											</div>
							</div>
					<div class="look-row">
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06164841/C115LSV_T201LLC_P383LSV_003.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="nomadic-patchwork-stretch-linen-kimono" data-color="Black Multi MLC" data-size="P/S">Nomadic Patchwork Stretch Linen Kimono</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
																	<a data-handle="tuarag-jewels-rectangle-pendant" data-color="Black TAJ2" data-size="O/S">Tuarag Jewels Rectangle Square Pendant</a>
																	<a data-handle="brass-beaded-jewels-belt-bag" data-color="Black Multi TAJ" data-size="O/S">Brass Beaded Jewels Belt Bag</a>
															</div>
											</div>
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15151642/C115LSV_T201LLC_P383LSV_006.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="nomadic-patchwork-stretch-linen-kimono" data-color="Black Multi MLC" data-size="P/S">Nomadic Patchwork Stretch Linen Kimono (Shown inside out)</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
																	<a data-handle="tuarag-jewels-rectangle-pendant" data-color="Black TAJ2" data-size="O/S">Tuarag Jewels Rectangle Square Pendant</a>
																	<a data-handle="brass-beaded-jewels-belt-bag" data-color="Black Multi TAJ" data-size="O/S">Brass Beaded Jewels Belt Bag</a>
															</div>
											</div>
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15152151/C115LSV_T201LLC_P383LSV_001.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15151955/C115LSV_T201LLC_P383LSV_001-horizontal.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="wide-stripe-crinkle-blazer-coat" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Blazer Coat</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
																	<a data-handle="tuarag-jewels-rectangle-pendant" data-color="Black TAJ2" data-size="O/S">Tuarag Jewels Rectangle Square Pendant</a>
																	<a data-handle="brass-beaded-jewels-belt-bag" data-color="Black Multi TAJ" data-size="O/S">Brass Beaded Jewels Belt Bag</a>
															</div>
											</div>
							</div>
					<div class="look-row">
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15163355/J068DVL_P383LSV_A585DVL_001.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15163302/J068DVL_P383LSV_A585DVL_001-horizontal-2.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="ecru-satin-back-crepe-shredded-relaxed-blazer" data-color="Ecru DVL" data-size="XS">Satin Back Crepe Shredded Relaxed Blazer</a>
																	<a data-handle="wide-stripe-crinkle-cuffed-pull-on-pant" data-color="Black LSV" data-size="XS">Wide Stripe Crinkle Cuffed Pull On Pant</a>
																	<a data-handle="black-satin-back-crepe-origami-ribbon-scarf" data-color="Black DVL" data-size="O/S">Satin Back Crepe Origami Ribbon Scarf</a>
															</div>
											</div>
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15152844/C117TUS_019.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15152755/C117TUS_019-horizontal.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="urban-stretch-streamer-robe" data-color="Black TUS" data-size="XS">Urban Stretch Streamer Robe</a>
																	<a data-handle="black-satin-back-crepe-origami-ribbon-scarf" data-color="Black DVL" data-size="O/S">Satin Back Crepe Origami Ribbon Scarf</a>
																	<a data-handle="tuarag-jewels-single-square-pendant" data-color="Tobacco TAJ3" data-size="O/S">Tuarag Jewels Single Square Pendant</a>
															</div>
											</div>
							</div>
					<div class="look-row">
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06170929/A506LVS_T237LVS_T246LVS_P382LVS_019.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="parachute-silk-cardigan" data-color="Black LVS" data-size="P/S">Parachute Silk Cardigan</a>
																	<a data-handle="parachute-silk-v-neck-top" data-color="Black LVS" data-size="XS">Parachute Silk V-Neck Top</a>
																	<a data-handle="parachute-silk-pull-on-pant" data-color="Black LVS" data-size="XS">Parachute Silk Pull On Pant</a>
																	<a data-handle="parachute-silk-neck-cozy" data-color="Black LVS" data-size="O/S">Parachute Silk Neck Cozy</a>
															</div>
											</div>
									<div class="look two_up  loaded">
													<img class="mobile-image" src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15154046/D287LVS_A506LVS_T237LVS_023-recolor.jpg">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/15153951/D287LVS_A506LVS_T237LVS_023-horizontal-recolor.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="parachute-silk-dress" data-color="Black LVS" data-size="XS">Parachute Silk  Dress</a>
																	<a data-handle="parachute-silk-neck-cozy" data-color="Black LVS" data-size="O/S">Parachute Silk Neck Cozy</a>
															</div>
											</div>
									<div class="look single  loaded">
													<img class="mobile-image" src="">
							<img src="https://s3.amazonaws.com/urbanzen.com-wp/wp-content/uploads/2018/02/06230519/D264CSM_009.jpg">
																			<div class="look-product-links" data-product-links="">
																	<a data-handle="charmeuse-floating-squares-dress" data-color="Black CSM" data-size="XS">Charmeuse Floating Squares Dress</a>
																	<a data-handle="tuarag-jewels-single-square-pendant" data-color="Tobacco TAJ3" data-size="O/S">Tuarag Jewels Single Square Pendant</a>
																	<a data-handle="brass-beaded-jewels-conch-belt" data-color="Black TAJ" data-size="O/S">Brass Beaded Jewels Conch Belt</a>
															</div>
											</div>
							</div>
			</div>
</div>