<div class="past-collections">
	<h1>Collections Lookbooks</h1>
	<p>Explore our lookbooks.  The following designs may not be for sale.</p>

	<div class="collections">

		<div class="collection">
		<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/The-Silk-Road.jpg">
		<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/The-Silk-Road-m.jpg">
			<div class="collection-info">
				<h2>The Silk Road</h2>
				<div class="collection-links">
					<a href="/pages/silk-road-campaign">Campaign</a>
					<a href="/pages/silk-road-collection">Collection</a>
				</div>
			</div>
		</div>

		<div class="collection">
			<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/The-Alchemist.jpg">
			<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/The-Alchemist-m.jpg">
			<div class="collection-info">
				<h2>Alchemist</h2>
				<div class="collection-links">
					<a href="/pages/alchemist-campaign">Campaign</a>
					<a href="/pages/the-alchemist-collection">Collection</a>
				</div>
			</div>
		</div>

		<div class="collection">
			<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Modern-Souls.jpg">
			<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Modern-Souls-m.jpg">
			<div class="collection-info">
				<h2>Modern Souls</h2>
				<div class="collection-links">
					<a href="/pages/modern-souls-collection">Collection</a>
				</div>
			</div>
		</div>

		<div class="collection">
			<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/My-Journey.jpg">
			<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/My-Journey-m.jpg">
			<div class="collection-info">
				<h2>My Journey</h2>
				<div class="collection-links">
					<a href="/pages/lookbook-my-journey">Collection</a>
				</div>
			</div>
		</div>

		<div class="collection">
		<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Harmony.jpg">
		<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Harmony-m.jpg">
			<div class="collection-info">
				<h2>Harmony</h2>
				<div class="collection-links">
					<a href="/pages/harmony-collection">Collection</a>
				</div>
			</div>
		</div>

		<div class="collection">
			<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Evolution.jpg">
			<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Evolution-m.jpg">
			<div class="collection-info">
				<h2>Evolution</h2>
				<div class="collection-links">
					<a href="/pages/evolution-collection">Collection</a>
				</div>
			</div>
		</div>
		
		<div class="collection">
			<img class="lazyload hide-mobile" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Nomad.jpg">
			<img class="lazyload hide-desktop" data-src="https://s3.us-east-2.amazonaws.com/fall-2017/Past+Collection+and+Campaign/Nomad-m.jpg">
			<div class="collection-info">
				<h2>Nomad</h2>
				<div class="collection-links">
					<a href="/pages/the-nomad-collection">Collection</a>
				</div>
			</div>
		</div>

	</div>
</div>