// CSS Only Icons for Buttons
.icon {
  display: inline-block;
  vertical-align: middle;
}

svg {
  display: block;
  & * {
    fill: currentcolor;
  }
}

.material-icons {
  color: currentcolor;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 18px;  /* Preferred icon size */
  line-height: 18px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  @include font-smooth();
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  &.md-12 { font-size: 12px; line-height: 12px; }
  &.md-18 { font-size: 18px; line-height: 18px; }
  &.md-24 { font-size: 24px; line-height: 24px; }
  &.md-36 { font-size: 36px; line-height: 36px; }
  &.md-48 { font-size: 48px; line-height: 48px; }
}
@charset "UTF-8";

@font-face {
  font-family: "icons";
  src:url("assets/icons.eot");
  src:url("assets/icons.eot?#iefix") format("embedded-opentype"),
    url("assets/icons.woff") format("woff"),
    url("assets/icons.ttf") format("truetype"),
    url("assets/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-instagram:before {
  content: "\62";
}
.icon-twitter:before {
  content: "\63";
}
.icon-angle-left:before {
  content: "\64";
}
.icon-angle-right:before {
  content: "\65";
}
.icon-angle-up:before {
  content: "\66";
}
.icon-angle-down:before {
  content: "\67";
}

